@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    ---main-red: rgba(195, 28, 28, 0.650);
    ---main-blue: rgba(0, 0, 255, 0.489);
}
h1,
h2{
    color: rgba(0, 0, 255, 0.6);
}

body{
    position: relative;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    min-height: 600px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.bg-effect .fa-x{
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(-50%, -50%) scale(2) rotate(15deg);
    opacity: .2;
    z-index: -1;
}
.bg-effect .fa-o{
    position: absolute;
    top: 100%;
    left: 70%;
    transform: translate(-50%, -50%) scale(2);
    opacity: .2;
    z-index: -1;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INFORMATION */
.info{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 0px 1px var(---main-blue);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.info .fa-info{
    position: absolute;
    color: var(---main-blue);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.move-info{
    animation: moveInfo 1.4s linear infinite alternate;
}
@keyframes moveInfo {
    0%{
        top: 10%;
        box-shadow: 0px 2px 0px 1px var(---main-blue);
    }
    50%{
        top: 9%;
        box-shadow: 0px 2px 0px 1px var(---main-blue),
                    0px 50px 10px 0 rgba(0,0,0, 0.2);
    }
    100%{
        top: 10%;
        box-shadow: 0px 2px 0px 1px var(---main-blue);
    }
}
.wrapper-index{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.fa-x{
    padding: 20px;
    color: var(---main-red);
    font-size: 8rem;
    text-shadow: 0px 10px 10px var(---main-red);
}
.fa-o{
    padding: 20px;
    color: var(---main-blue);
    font-size: 8rem;   
    text-shadow: 0 10px 10px var(---main-blue);
}
.title-choose{
    padding: 15px;
}
.choose-ai-friend{
    display: flex;
    flex-direction: column;
}
.standard{
    margin: 10px;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    color: rgba(0,0,0, 0.6);
    box-shadow: 0px 3px 3px 1px rgba(0,0,0, 0.2);
}
.standard:hover{
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: 0px 5px 5px 1px rgba(0,0,0, 0.3);
    transition: box-shadow .5s linear, background-color .5s linear font-weight .5s linear, color .5s linear;
}
/* wraper information */
.wrapper-information{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper-information p{
    width: 80%;
    max-width: 400px;
    line-height: 200%;
}
#back-to-home{
    margin-top: 20px;
}
/* wrapper-choose */
.wrapper-choose{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-choose .fa-x{
    color: rgba(0,0,0, 0.3);
    text-shadow: 0px 10px 10px rgba(0,0,0, 0.2);
}
.wrapper-choose .fa-o{
    color: rgba(0,0,0, 0.3);
    text-shadow: 0px 10px 10px rgba(0,0,0, 0.2);
}
.radius button{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px 60px 40px;
    border: 3px solid rgba(0,0,0, 0.4);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0, 0.3);
    background-color: #fff;
    cursor: pointer;
}
.radius button span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.4);
}
/* red-choose */
.wrapper-choose .fa-x.choose{
    color: var(---main-red);
    text-shadow: 0px 10px 10px var(---main-red);
    transition: color .5s linear, text-shadow .5s linear;
}
.radius #red.choose{
    border-color: var(---main-red);
    transition: border-color .5s linear;
}
.radius #red span.choose {
    background-color: var(---main-red);
    transition: background-color .5s linear;;
}
/* blue-choose */
.wrapper-choose .fa-o.choose{
    color: var(---main-blue);
    text-shadow: 0px 10px 10px var(---main-blue);
    transition: color .5s linear, text-shadow .5s linear;
}
.radius #blue.choose{
    border-color: var(---main-blue);
    transition: border-color .5s linear;
}
.radius #blue span.choose {
    background-color: var(---main-blue);
    transition: background-color .5s linear;;
}
/* wrapper-game */
.wrapper-game{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.points{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.points p{
    color: rgba(0,0,0, 0.7);
    font-weight: bolder;
}
.sorce{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0, 0.2);
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;

}
.game div{
    width: 120px;
    height: 120px;
    border: 2px solid rgba(0,0,0,0.2);
}

.active{
    transform: translateX(0%);
    transition: transform .3s linear;
}